<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CachedManifest</key>
	<dict>
		<key>manifestData</key>
		<data>
		eyJkZXBlbmRlbmNpZXMiOlt7InNvdXJjZUNvbnRyb2wiOlt7ImlkZW50aXR5
		IjoiYWxhbW9maXJlIiwibG9jYXRpb24iOnsicmVtb3RlIjpbeyJ1cmxTdHJp
		bmciOiJodHRwczpcL1wvZ2l0aHViLmNvbVwvQWxhbW9maXJlXC9BbGFtb2Zp
		cmUuZ2l0In1dfSwicHJvZHVjdEZpbHRlciI6bnVsbCwicmVxdWlyZW1lbnQi
		OnsicmFuZ2UiOlt7Imxvd2VyQm91bmQiOiI1LjguMSIsInVwcGVyQm91bmQi
		OiI2LjAuMCJ9XX19XX0seyJzb3VyY2VDb250cm9sIjpbeyJpZGVudGl0eSI6
		ImxvdHRpZS1pb3MiLCJsb2NhdGlvbiI6eyJyZW1vdGUiOlt7InVybFN0cmlu
		ZyI6Imh0dHBzOlwvXC9naXRodWIuY29tXC9haXJibmJcL2xvdHRpZS1pb3Mu
		Z2l0In1dfSwicHJvZHVjdEZpbHRlciI6bnVsbCwicmVxdWlyZW1lbnQiOnsi
		cmFuZ2UiOlt7Imxvd2VyQm91bmQiOiI0LjMuNCIsInVwcGVyQm91bmQiOiI1
		LjAuMCJ9XX19XX1dLCJkaXNwbGF5TmFtZSI6IlJlbWVtYmVyZXIiLCJwYWNr
		YWdlS2luZCI6eyJyb290Ijp7fX0sInBsYXRmb3JtcyI6W3sib3B0aW9ucyI6
		W10sInBsYXRmb3JtTmFtZSI6ImlvcyIsInZlcnNpb24iOiIxNi42In1dLCJw
		cm9kdWN0cyI6W3sibmFtZSI6IlJlbWVtYmVyZXIiLCJzZXR0aW5ncyI6W3si
		ZGlzcGxheVZlcnNpb24iOlsiMS4wIl19LHsiYnVuZGxlVmVyc2lvbiI6WyIx
		Il19LHsiaU9TQXBwSW5mbyI6W3siYWNjZW50Q29sb3IiOnsicHJlc2V0Q29s
		b3IiOnsicHJlc2V0Q29sb3IiOnsicmF3VmFsdWUiOiJicm93biJ9fX0sImFw
		cEljb24iOnsicGxhY2Vob2xkZXIiOnsiaWNvbiI6eyJyYXdWYWx1ZSI6InNt
		aWxleSJ9fX0sImNhcGFiaWxpdGllcyI6W10sInN1cHBvcnRlZERldmljZUZh
		bWlsaWVzIjpbInBhZCIsInBob25lIl0sInN1cHBvcnRlZEludGVyZmFjZU9y
		aWVudGF0aW9ucyI6W3sicG9ydHJhaXQiOnt9fSx7ImxhbmRzY2FwZVJpZ2h0
		Ijp7fX0seyJsYW5kc2NhcGVMZWZ0Ijp7fX0seyJwb3J0cmFpdFVwc2lkZURv
		d24iOnsiY29uZGl0aW9uIjp7ImRldmljZUZhbWlsaWVzIjpbInBhZCJdfX19
		XX1dfV0sInRhcmdldHMiOlsiQXBwTW9kdWxlIl0sInR5cGUiOnsiZXhlY3V0
		YWJsZSI6bnVsbH19XSwidGFyZ2V0TWFwIjp7IkFwcE1vZHVsZSI6eyJkZXBl
		bmRlbmNpZXMiOlt7InByb2R1Y3QiOlsiQWxhbW9maXJlIiwiQWxhbW9maXJl
		IixudWxsLG51bGxdfSx7InByb2R1Y3QiOlsiTG90dGllIiwibG90dGllLWlv
		cyIsbnVsbCxudWxsXX1dLCJleGNsdWRlIjpbXSwibmFtZSI6IkFwcE1vZHVs
		ZSIsInBhY2thZ2VBY2Nlc3MiOnRydWUsInBhdGgiOiIuIiwicmVzb3VyY2Vz
		IjpbeyJwYXRoIjoiUmVzb3VyY2VzIiwicnVsZSI6eyJwcm9jZXNzIjp7fX19
		XSwic2V0dGluZ3MiOlt7ImtpbmQiOnsiZW5hYmxlVXBjb21pbmdGZWF0dXJl
		Ijp7Il8wIjoiQmFyZVNsYXNoUmVnZXhMaXRlcmFscyJ9fSwidG9vbCI6InN3
		aWZ0In1dLCJ0eXBlIjoiZXhlY3V0YWJsZSJ9fSwidGFyZ2V0cyI6W3siZGVw
		ZW5kZW5jaWVzIjpbeyJwcm9kdWN0IjpbIkFsYW1vZmlyZSIsIkFsYW1vZmly
		ZSIsbnVsbCxudWxsXX0seyJwcm9kdWN0IjpbIkxvdHRpZSIsImxvdHRpZS1p
		b3MiLG51bGwsbnVsbF19XSwiZXhjbHVkZSI6W10sIm5hbWUiOiJBcHBNb2R1
		bGUiLCJwYWNrYWdlQWNjZXNzIjp0cnVlLCJwYXRoIjoiLiIsInJlc291cmNl
		cyI6W3sicGF0aCI6IlJlc291cmNlcyIsInJ1bGUiOnsicHJvY2VzcyI6e319
		fV0sInNldHRpbmdzIjpbeyJraW5kIjp7ImVuYWJsZVVwY29taW5nRmVhdHVy
		ZSI6eyJfMCI6IkJhcmVTbGFzaFJlZ2V4TGl0ZXJhbHMifX0sInRvb2wiOiJz
		d2lmdCJ9XSwidHlwZSI6ImV4ZWN1dGFibGUifV0sInRvb2xzVmVyc2lvbiI6
		eyJfdmVyc2lvbiI6IjUuOS4wIn19
		</data>
		<key>manifestHash</key>
		<data>
		l6o+d+CjM1DZ7gZ/1J8aXGZH94nM3T645ERvTGMoD/c=
		</data>
		<key>schemaVersion</key>
		<integer>4</integer>
		<key>swiftPMVersionString</key>
		<string>5.9.0</string>
	</dict>
</dict>
</plist>
